.app {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/public/sunset.jpg"); /* Replace with your image path */
}

.card {
  padding: 20px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  font-size: 30px;
  font-family: cursive;
}

.heading {
  font-size: 24px;
  margin-bottom: 20px;
  color: aquamarine;
}

.button {
  margin-top: 20rem;
  cursor: pointer;
  border: 1px solid #32d13d;
  background-color: transparent;
  height: 50px;
  width: 150px;
  color: #29a1ec;
  font-size: 1em;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  border-radius: 20px;
}

/* .button:hover {
  background-color: #44e266;
} */

/* Media Queries for Different Screen Sizes */
@media (max-width: 1200px) {
  .app {
    background-size: contain;
  }
}

@media (max-width: 768px) {
  .app {
    background-size: cover;
    background-position: center center;
  }

  .card {
    max-width: 90%;
  }
}

@media (max-width: 480px) {
  .app {
    background-size: 150%;
  }

  .card {
    padding: 15px;
  }

  .heading {
    font-size: 20px;
  }

  .button {
    padding: 8px 16px;
  }
}
